#browser_ie{
  display: block;
  position: fixed;
  z-index: 9999999;
  top: 0px;
  width: 100%;
}

#browser_ie {
  background-color: #f6f6b4; height: 85px; color: #000; font-size: 15px
}
#browser_ie .brower_info {
  margin: 0px auto; width: 800px; padding-top: 17px
}
#browser_ie .brower_info .notice_info {
  position: relative; margin-top: 5px; float: left
}
#browser_ie .brower_info .notice_info p {
  text-align: left; line-height: 25px; width: 360px; display: inline-block
}
#browser_ie .browser_list {
  position: relative; float: left
}
#browser_ie .browser_list img {
  width: 40px; height: 40px
}
#browser_ie .browser_list span {
  text-align: center; width: 80px; display: inline-block
}